body {
  background: #f5f7fb !important;
  font-family: "Inter", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #004aad !important;
}
a {
  color: #004aad;
}
a:hover {
  color: #54565a;
}

