---
---
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    <!-- Load your custom overrides last so they win -->
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}">
  </head>
  <body>
    {% include sidebar.html %}

    <main class="page">
      {% include topbar.html %}
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
